<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<phpunit bootstrap="tests/bootstrap.php">
	<filter>
		<whitelist>
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="coverage.xml" />
	</logging>
	<testsuites>
		<testsuite name="FunctionTest">
            <directory>./tests/subTest/</directory>
			<!-- <exclude>./tests/OSS/Tests/BucketCnameTest.php</exclude> -->
			<!-- <file>./tests/DatabaseTest.php</file> -->
		</testsuite>
	</testsuites>
</phpunit>
